/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Coda:400,800|Comfortaa:300,400,700|Nixie+One');

/*font-family: 'Comfortaa', cursive;
font-family: 'Nixie One', cursive;
font-family: 'Coda', cursive;*/

html {
  background-color: #F0F0F0;
  border: 13pt solid white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 100%;
  font-family: 'Coda', monospace;
  padding-bottom: 1%;
}


.header-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  min-height: 50px;
  margin: 0 2%;
  color: white;
}

#header-all-text {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 1%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-nav {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  margin: 0 2% 4% 2%;
  display: flex;
  flex-direction:row-reverse;
  align-self: right;
  align-items: right;
  text-decoration: none;
  color: #525252;
  width: 100%;
}

.all-nav table {
  border-spacing: 2vw;
}

.all-nav td:hover {
  color: #28DBE4;
  border-bottom: 3pt solid #28DBE4;
}

.all-nav td {
  text-align: left;
  width: 10%;
  border-bottom: 3pt solid #525252;
}

.submit {
  padding: 10%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95%;
  margin: 0 auto;
}

a {
  color: #525252;
  text-decoration: none;
}

img {
  max-width: auto;
  padding: 1%;
  max-height: 600px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
