#example {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  max-width: 90vw;
}

.submit {
  padding-top: 5%;
  padding-bottom: 10vh;
}

.general {
  font-weight: lighter;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  text-align: center;
}

.emphasized {
  font-size: 1.2em;
}

.outer-row-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 98%;
  height: 100%;
  margin-top: 2%;
}

.large-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 65%;
  margin: 0 2%;
  padding: 2%;
}

.medium-container {
  background-color: white;
  width: 30%;
  padding: 2%;
}

mark {
  background-color: #bffcff;
  color: #525252;
  display: inline-block;
  height: 1em;
  line-height: 1em;
}

input {
  font-family: 'Coda', monospace;
}
